.cm-in-composition {
  .CodeMirror-input-wrapper {
    overflow: visible !important;
    textarea {
      resize: none;
      background-color: transparent;
      border: none;
      font-size: 16px !important;

      min-width: 500px;
      z-index: 10;
      top: -2px;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      transition: none;
    }
  }
  .CodeMirror-scroll .CodeMirror-cursor {
    display: none;
  }
}
.cm-text-in-composition {
  color: transparent;
}
